{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block page_header %}
<!-- Push content down  -->
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Gives a the page a white background -->
<div class="overlay"></div>
<!-- Products page -->
<div class="container">
    <div class="row">
        <div class="col text-center">
            <hr class="w-50">
            <h1 class="text-dark">Edit A Review</h1>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row text-dark">
        <div class="col-10 col-lg-6 mx-auto">
            <div class="p-3 w-100">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-10 col-lg-6 mx-auto text-center">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                
                <input type="submit" class="btn hover-white add-to-cart-btn mt-3" value="Edit a Review">
            </form>
        </div>
    </div>
</div>

{% endblock %}
