{% extends "base.html" %}
{% load static %}


{% block page_header %}
<!-- Push content down  -->
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Gives a the page a white background -->
<div class="overlay"></div>
<!-- Products page -->
<div class="container">
    <div class="row">
        <div class="col text-center">
            <hr class="w-50">
            <h2 class="text-dark">Product Reviews</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row text-dark">
        <div class="col-10 col-lg-6 mx-auto">
            <div class="p-3 w-100">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-10 col-lg-6 mx-auto text-center">
            {% if reviews %}
            <h3>{{ product.name }}</h3>
            <h4>Overall Rating: <i class="star-icon fa-solid fa-star"></i> {{ average|floatformat:2 }}</h4>
            <div>
            {% else %}
            {% endif %}
                {% if reviews %}
                <div class="reviews-wrapper text-left">
                    {% for review in reviews %}                        
                    <div class="row card py-2 my-1 review-card mx-2">
                        <div class="col">
                            <h5 class="">Author: {{ review.user.username }}</h5>
                            <h5>Rating: {{ review.rating }} </h5>
                        </div>
                        <div class="col text-justify">
                            <p>{{ review.comment }}</p>
                        </div>
                        <div class="col">
                            {% if request.user == review.user %}
                                <a class="text-info" href="{% url 'edit_review' product.id review.id %}">Edit</a>
                                <a class="text-danger" href="{% url 'delete_review' product.id review.id %}">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-12">
                    <a href="{% url 'products' %}" class="btn btn-outline-dark mt-3">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                    <a href="{% url 'reviews_form' product.id %}" class="btn hover-white add-to-cart-btn mt-3"> Leave a Review </a>
                </div>
               
                
                {% else %}
                    <p>This product doesn't have a review yet.</p>
                    <div class="col-12">
                        <a href="{% url 'products' %}" class="btn btn-outline-dark mt-3">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Keep Shopping</span>
                        </a>
                        <a href="{% url 'reviews_form' product.id %}" class="btn hover-white add-to-cart-btn mt-3"> Leave a Review </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
