{% extends "base.html" %}
{% load static %}


{% block page_header %}
<!-- Push content down  -->
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Gives a the page a white background -->
<div class="overlay"></div>
<!-- Add a new review page -->
<div class="container">
    <div class="row">
        <div class="col text-center">
            <hr class="w-50">
            <h1 class="text-dark">Add A Review</h1>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <!-- Product image -->
    <div class="row text-dark">
        <div class="col-10 col-lg-6 mx-auto">
            <div class="p-3 w-100">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <!-- Reviews form -->
        <div class="col-10 col-lg-6 mx-auto text-center">
            <form action="{% url 'add_review' product.id %}" method="POST">
                {% csrf_token %}
                <label for="comment">Review</label>
                <textarea name="comment" id="comment" cols="30" rows="5" class="form-control"></textarea>
                <label for="rangeInput">Rating</label>
                <input type="range" id="rangeInput" name="rating" min="0" max="5" value="0" step="0.5" oninput="amount.value=rangeInput.value">
                <output name="amount" id="amount" for="rangeInput">0</output>
                <br>
                <a href="{% url 'product_reviews' product.id %}" class="btn btn-outline-dark mt-3">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Cancel</span>
                </a>
                <input type="submit" class="btn hover-white add-to-cart-btn mt-3" value="Leave a Review">
            </form>
        </div>
    </div>
</div>

{% endblock %}
