{% extends "base.html" %}
{% load static %}


{% block page_header %}
<!-- Push content down  -->
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div>
    <div class="newsletter-div mx-auto px-2 py-2">
        <h5>Enter your email address below to unsubscribe from our newsletter.</h5>
        <form action="{% url 'unsubscribe' %}" method="POST">
            <div class="mb-3">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="row text-center">
                    
                    <div class="col-6">
                        <a class="btn btn-outline-dark" href="{% url 'home' %}">Cancel</a>
                    </div>
                    <div class="col-6">
                        <input class="btn btn-dark-2 hover-white text-uppercase"
                        type="submit" value="Unsubscribe">
                    </div>
                    
                </div>
                
            </div>
        </form>
</div>

{% endblock %}
