{% extends "base.html" %}
{% load static %}
{% load bag_tools %}


{% block page_header %}
<!-- Push content down  -->
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <!-- Page title -->
    <div class="row">
        <div class="col">
            <hr>
            <h2 class=" text-dark mb-4">Shopping Cart</h2>
            <hr>
        </div>
    </div>
    <!-- Table headers -->
    <div class="row">
        <div class="col">
            {% if bag_items %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">Product Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>

                    <!-- Product info -->
                    {% for item in bag_items %}
                        <tr>
                            <td class="p-3 w-25">
                                <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                            </td>
                            <td class="py-3">
                                <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                            </td>
                            {% if item.product.onSale %}
                            <!-- Displays price for products on sale -->
                            <td class="py-3">
                                <p class="my-0">&euro;{{ item.product.price_onsale|floatformat:2 }}</p>
                            </td>
                            {% else %}
                            <!-- Displays price for general products -->
                            <td class="py-3">
                                <p class="my-0">&euro;{{ item.product.price }}</p>
                            </td>
                            {% endif %}
                            <td class="py-3 w-25">
                                <!-- Form to adjust products quantity -->
                                <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-sm btn-dark rounded-0" 
                                                data-item_id="{{ item.item_.id }}" id="decrement-qty_{{ item.item_.id }}">
                                                <span>
                                                    <i class="fas fa-minus fa-sm"></i>
                                                </span>
                                            </button>
                                            </div>
                                            <input class="form-control form-control-sm qty_input" type="number" 
                                            name="quantity" value="{{ item.quantity }}" min="1" max="99" 
                                            data-item_id="{{ item.item_.id }}" id="id_qty_{{ item.item_.id }}">
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn-sm btn-dark rounded-0"
                                                data-item_id="{{ item.item_.id }}" id="increment-qty_{{ item.item_.id }}">
                                                <span>
                                                    <i class="fas fa-plus fa-sm"></i>
                                                </span>
                                            </button>
                                            </div>
                                        </div>
                                    </div>   

                                </form>
                                <!-- Update -->
                                <a class="update-link text-info"><small>Update</small></a>
                                <!-- Remove product -->
                                <a class="remove-item text-danger float-right" id="remove_item{{ item.item_id }}"><small>Remove</small></a>
                            </td>
                            <!-- Displays subtotal for products on Sale  -->
                            {% if item.product.onSale %}
                            <td class="py-3">
                                <p class="my-0">&euro;{{ item.product.price_onsale|calc_subtotal_onsale:item.quantity|floatformat:2 }}</p>
                            </td>
                            {% else %}
                            <!-- Displays subtotal for general products -->
                            <td class="py-3">
                                <p class="my-0">&euro;{{ item.product.price|calc_subtotal:item.quantity }}</p>
                            </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    <!-- Displays order total -->
                    <tr>
                        <td colspan="5" class="pt-5 text-right">
                            <h6><strong>Subtotal: &euro;{{ total|floatformat:2 }}</strong></h6>
                            <h6>Delivery: &euro;{{ delivery|floatformat:2 }}</h6>
                            <h4 class="mt-4"><strong>Grand Total: &euro;{{ grand_total|floatformat:2 }}</strong></h4>
                            {% if free_delivery_delta > 0 %}
                                <p class="mb-1 text-danger">
                                    You could get free delivery by spending just <strong>&euro;{{ free_delivery_delta }}</strong> more!
                                </p>
                            {% endif %}
                        </td>
                    </tr>
                    <!-- Page buttons to proceed to Checkout or keep Shopping -->
                    <tr>
                        <td colspan="5" class="text-right">
                            <a href="{% url 'products' %}" class="btn btn-outline-dark btn-lg">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <a href="" class="btn add-to-cart-btn hover-white btn-lg">
                                <span class="text-uppercase">Proceed to Checkout</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <!-- Displays when cart is empty -->
            <p class="lead text-dark mb-5">Your cart is empty.</p>
            <a href="{% url 'products' %}" class="btn btn-outline-dark btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        let form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        let csrfToken = "{{ csrf_token }}";
        let itemId = $(this).attr('id').split('item')[1];
        let url = `/bag/remove/${itemId}/`;
        let data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>

{% endblock %}