{% extends "base.html" %}
{% load static %}


{% block page_header %}
<!-- Push content down  -->
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<!-- Home page carousel -->
<div class="w-100 p-3">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container carousel-container h-100 py-3">
                <div class="text-center">
                    <h1 id="carousel-main-1" class="text-background display-4">
                        All your favorite board games
                    </h1>
                </div>
                <div class="text-center">
                    <p id="carousel-main-2" class="text-background display-4">
                        in one place
                    </p>
                </div>
                <div class="my-5">
                    <p id="corousel-btn">
                        <a href="{% url 'products' %}" id="shop-now-btn" class="btn shop-action-btn hover-white btn-lg text-uppercase py-3">Shop Now</a>
                    </p>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container carousel-container h-100 py-3 text-center">
                <h1 class="text-background display-5">
                    On Sale!
                </h1>
                <div id="on-sale-div" class="my-2">
                    <a href="{% url 'on_sale' %}">
                        <img class="img-fluid" src="/media/flash-sale.png" alt="On sale image">
                    </a>
                    <div>
                        <h5 class="text-white mb-3">Newsletter</h5>
                        <p class="small text-muted">Signup for our newsleeter here!.</p>
                        <form action="{% url 'newsletter' %}" method="POST">
                            <div class="mb-3">
                                {% csrf_token %}
                                {{ sub_form|crispy }}
                                <input class="btn shop-action-btn btn-lg mt-3 hover-white text-uppercase py-3"
                                 type="submit" value="Submit" class="btn btn-primary">
                            </div>
                        </form>
                        <p class="small text-muted"><a href="#">Unsubscribe</a></p>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'home/includes/carousel_script.html' %}
{% endblock %}