{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}


{% block page_header %}
<!-- Push content down  -->
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <!-- Page title -->
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="text-dark mb-4">Your order is completed!</h2>
            <hr>
            <p class="text-dark mt-2">Thank you for shopping with us.</p>
            <p class="text-dark mb-4">A confirmation e-mail will be sent to <strong>{{ order.email }}</strong></p>
        </div>
    </div>
   
    <div class="row">
       <div class="col-12 col-lg-7">
        <div class="p-2 border">
            <!-- Order Informantion -->
            <div class="row">
                <div class="col">
                    <p class="text-dark font-weight-bold mb-1 mt-1">Order Info:</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-4">
                    <small>Order Number</small>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="mb-0">{{ order.order_number }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4">
                    <small>Order Date</small>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="mb-0">{{ order.date }}</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <p class="text-dark font-weight-bold mb-1 mt-1">Order Details:</p>
                </div>
            </div>
            {% for item in order.lineitems.all %}
            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="small mb-0 text-dark font-weight-bold">
                        {{ item.product.name }}
                    </p>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="small mb-0">{{ item.quantity }} x &euro;{% if item.product.onSale %} 
                        {{ item.product.price_onsale|floatformat:2 }} {% else %} 
                        {{ item.product.price }} {% endif %} each</p>
                </div>
            </div>
            {% endfor %}
            <hr>
            <div class="row">
                <div class="col">
                    <p class="text-dark font-weight-bold mb-1 mt-1">Delivering To:</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4">
                    <small class="mb-0 text-dark">Full Name</small>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="mb-0">{{ order.full_name }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4">
                    <small class="mb-0 text-dark">Address 1</small>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="mb-0">{{ order.street_address1 }}</p>
                </div>
            </div>

            {% if order.street_address2 %}
            <div class="row">
                <div class="col-12 col-md-4">
                    <small class="mb-0 text-dark">Address 2</small>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="mb-0">{{ order.street_address2 }}</p>
                </div>
            </div>
            {% endif %}
            {% if order.county %}
            <div class="row">
                <div class="col-12 col-md-4">
                    <small class="mb-0 text-dark">County</small>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="mb-0">{{ order.county }}</p>
                </div>
            </div>
            {% endif %}

            <div class="row">
                <div class="col-12 col-md-4">
                    <small class="mb-0 text-dark">Town or City</small>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="mb-0">{{ order.town_or_city }}</p>
                </div>
            </div>

            {% if order.postcode %}
            <div class="row">
                <div class="col-12 col-md-4">
                    <small class="mb-0 text-dark">Postal Code</small>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="mb-0">{{ order.postcode }}</p>
                </div>
            </div>
            {% endif %}

            <div class="row">
                <div class="col-12 col-md-4">
                    <small class="mb-0 text-dark">Country</small>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="mb-0">{{ order.country }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-4">
                    <small class="mb-0 text-dark">Phone Number</small>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="mb-0">{{ order.phone_number }}</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <p class="text-dark font-weight-bold mb-1 mt-1">Billing Info:</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4">
                    <small class="mb-0 text-dark">Order Total</small>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="mb-0">&euro;{{ order.order_total }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4">
                    <small class="mb-0 text-dark">Delivery</small>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="mb-0">&euro;{{ order.delivery_cost }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4">
                    <small class="mb-0 text-dark">Grand Total</small>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="mb-0">&euro;{{ order.grand_total }}</p>
                </div>
            </div>


        </div>
       </div>
    </div>
    <div class="row">
        {% if from_profile %}
        <div class="col">
            <a href="{% url 'profile' %}">
                <span class="btn btn-dark-2 hover-white mt-3">Back to Profile</span>
            </a>
        </div>
        {% else %}
        <div class="col">
            <a href="{% url 'on_sale' %}">
                <span class="btn btn-dark-2 hover-white mt-3">Check out the half price games of this week!</span>
            </a>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
