
/* profile form */

#profile-update-form .form-control {
    color: #002F33;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #002F33;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

table {
    color: #002F33 !important;
}