/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,700&display=swap');

html {
    height: 100%;
}

body {
    background: url('/media/background_img2.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Roboto Flex', sans-serif;
}

a:hover {
    text-decoration: none;
}

.text-black {
    color: black;
}

.text-dark {
    color: #002F33 !important;
}

.bigger-font-size {
    font-size: 1.2rem;
    margin-bottom: 0;
}

/* Navbar */

#logo-img {
    height: 70px;
    width: 70px;
}

.backg-light {
    background-color: #E6F4F1;
}

/* Home page carousel */

.carousel-container {
    background-color: rgba(128, 128, 128, 0.336);
}

.shop-action-btn {
    background: #002F33;
    color: #5da3a6;
    min-width: 260px;
}

.hover-white:hover {
    color: white;
}

.text-background {
    background-color: #5da3a6;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

#corousel-btn {
    text-align: center;
}

#carousel-main-1, #carousel-main-2 {
    opacity: 0;
    text-align: center;
    color: black;
    background-color: #5da3a6;
}

#shop-now-btn {
    opacity: 0;
}

/* Products page */

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.products-row {
    padding-bottom: 120px;
}

.reviews-btn {
    color: #5da3a6;
    font-weight: 700;
}

.reviews-btn:hover {
    color:#002F33;
}

.star-icon {
    color: rgba(255, 217, 0, 0.863);
}

.add-to-cart-btn {
    background: #002F33;
    color: #5da3a6;
}

/* Footer */

#footer {
    background-color: #E6F4F1;
}

#footer-links {
    padding-top: 10px;
}

#footer-icons p {
    margin-bottom: 0;
}

.float-container {
    width: 50%;
    float: left;
}

/* -------------------------------- Media Queries

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  
}
  
/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
 
    .header-container {
        padding-top: 164px;
    }
}

/* Adjust footer size for small screens */
@media (max-width: 992px) {

    #footer-links {
        padding-top: 0;
    }

    .footer-font-size {
        font-size: 1rem;
    }

}