{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
<div class="text-center">
    <img src="https://marcellomuy-checkmate.s3.eu-west-1.amazonaws.com/media/404-page.png" alt="404 page">
    <a href="{% url 'home' %}" class="btn btn-dark-2 btn-lg">
        <span class="icon">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span class="text-uppercase">Go back</span>
    </a>
</div>


{% endblock %}