<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="font-weight-bold text-dark nav-link bigger-font-size mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=avgRating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link bigger-font-size text-dark mr-5" href="#" id="board-games-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Board Games
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="board-games-link">
                <a href="{% url 'products' %}?category=family" class="dropdown-item">Family</a>
                <a href="{% url 'products' %}?category=strategy" class="dropdown-item">Strategy</a>
                <a href="{% url 'products' %}?category=party" class="dropdown-item">Party</a>
                <a href="{% url 'products' %}?category=classic" class="dropdown-item">Classic</a>
                <a href="{% url 'products' %}?category=family,strategy,party,classic" class="dropdown-item">All Board Games</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link bigger-font-size text-dark mr-5" href="#" id="role-playing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Role-Playing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="role-playing-link">
                <a href="{% url 'products' %}?category=d_and_d" class="dropdown-item">Dungeons & Dragons</a>
                <a href="{% url 'products' %}?category=pathfinder" class="dropdown-item">Pathfinder</a>
                <a href="{% url 'products' %}?category=d_and_d,pathfinder" class="dropdown-item">All Role-Playing Games</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold nav-link bigger-font-size text-dark mr-5" href="{% url 'on_sale' %}">
                On Sale
            </a>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold nav-link bigger-font-size text-dark mr-5" href="#">
                Recently Added
            </a>
        </li>
    </ul>
</div>