<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="font-weight-bold text-dark nav-link bigger-font-size mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link bigger-font-size text-dark mr-5" href="#" id="board-games-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Board Games
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="board-games-link">
                <a href="" class="dropdown-item">Family</a>
                <a href="" class="dropdown-item">Strategy</a>
                <a href="" class="dropdown-item">Party</a>
                <a href="" class="dropdown-item">Classic</a>
                <a href="" class="dropdown-item">All Board Games</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link bigger-font-size text-dark mr-5" href="#" id="role-playing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Role-Playing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="role-playing-link">
                <a href="" class="dropdown-item">Dungeons & Dragons</a>
                <a href="" class="dropdown-item">Pathfinder</a>
                <a href="" class="dropdown-item">All Role-Playing Games</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link bigger-font-size text-dark mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Recently Added</a>
                <a href="" class="dropdown-item">On Sale</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold nav-link bigger-font-size text-dark mr-5" href="#">
                Best Sellers
            </a>
        </li>
    </ul>
</div>