<div class="d-lg-none container">
        <div class="text-center float-container">
            <div>
                <a class="text-dark bigger-font-size"
                href="https://www.privacypolicygenerator.info/live.php?token=KObPbkYWaFpjgxYeX7Ba4siKW10kdOh6"
                target="_blank"
                    >Privacy Policy
                </a>
            </div>
            <div>
                <a class="text-dark bigger-font-size" href="{% url 'contactmessage' %}">Contact Us</a>
            </div>
        </div>
        <div class="float-container">
            <div class="text-center"> 
                <div>
                    <p class="bigger-font-size">Follow Us:</p>
                </div>
                <div>
                    <a class="text-dark mr-1" href="https://www.facebook.com/CheckMate-Game-Store-109913328485275" target="_blank" rel="noopener"
                        aria-label="Visit our Facebook page (opens in a new page)"><i class="fab fa-facebook-square fa-2xl"></i></a>
                    <a class="text-dark ml-1" href="https://www.tiktok.com/en/" target="_blank" rel="noopener"
                        aria-label="Visit our Tiktok page (opens in a new page)"><i class="fab fa-brands fa-tiktok fa-2xl"></i></a>
                </div>
            </div>
        </div>
</div>
