<div class="text-center d-sm-block d-lg-none">
    <div>
        <a class="text-dark footer-font-size" href="">Privacy Policy</a>
    </div>
    <div>
        <a class="text-dark footer-font-size" href="">Contact Us</a>
    </div>
</div>
<div class="mx-auto d-lg-none">
    <div id="footer-icons" class="text-center"> 
        <div>
            <p class="footer-font-size">Follow Us:</p>
        </div>
        <div>
            <a class="text-dark" href="https://www.facebook.com/" target="_blank" rel="noopener"
                aria-label="Visit our Facebook page (opens in a new page)"><i class="fab fa-facebook-square fa-3x"></i></a>
            <a class="text-dark" href="https://twitter.com/" target="_blank" rel="noopener"
                aria-label="Visit our Twitter page (opens in a new page)"><i class="fab fa-twitter-square fa-3x"></i></a>
            <a class="text-dark" href="https://www.instagram.com/" target="_blank" rel="noopener"
                aria-label="Visit our Instagram page (opens in a new page)"><i class="fab fa-instagram-square fa-3x"></i></a>
        </div>
    </div>
</div>