<div class="d-lg-none container">
        <div class="text-center float-container">
            <div>
                <a class="text-dark bigger-font-size" href="">Privacy Policy</a>
            </div>
            <div>
                <a class="text-dark bigger-font-size" href="">Contact Us</a>
            </div>
        </div>
        <div class="float-container">
            <div class="text-center"> 
                <div>
                    <p class="bigger-font-size">Follow Us:</p>
                </div>
                <div>
                    <a class="text-dark" href="https://www.facebook.com/" target="_blank" rel="noopener"
                        aria-label="Visit our Facebook page (opens in a new page)"><i class="fab fa-facebook-square fa-2xl"></i></a>
                    <a class="text-dark" href="https://twitter.com/" target="_blank" rel="noopener"
                        aria-label="Visit our Twitter page (opens in a new page)"><i class="fab fa-twitter-square fa-2xl"></i></a>
                    <a class="text-dark" href="https://www.instagram.com/" target="_blank" rel="noopener"
                        aria-label="Visit our Instagram page (opens in a new page)"><i class="fab fa-instagram-square fa-2xl"></i></a>
                </div>
            </div>
        </div>
</div>
