{% extends "base.html" %}
{% load static %}


{% block page_header %}
<!-- Push content down  -->
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <!-- Page title -->
    <div class="row">
        <div class="col-12 col-md-6">
            <hr>
            <h1 class="text-dark mb-4">Product Management</h1>
            <h2 class="h5 text-muted">Add Product</h2>
            <hr>
        </div>
    </div>
    <!-- Form -->
    <div class="row">
        <div class="col-12 col-md-6">
            <form class="text-dark form mb-2" action="{% url 'add_product' %}" 
                method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <a href="{% url 'home' %}" class="btn btn-outline-dark">Cancel</a>
                <button class="btn btn-dark-2 hover-white" type="submit">Add Product</button>
            </form >            
        </div>
    </div>    
</div>
{% endblock %}



