{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="text-dark">Products</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
        <div class="col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                {% for product in products %}
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2">
                        {% if product.image %}
                        <a href="">
                            <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                        {% endif %}
                    </div>
                    <div class="text-center text-dark col-sm-6 col-md-6 col-lg-3 col-xl-2">
                        <p>Some text</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
        
    </div>
</div>

{% endblock %}
